<html>
    <body>
        <div class="row">
            <div class="span12">
                <h2>Connect</h2>
                <p>Enter the Datomic URI to connect to:</p>
                <form method="post" action="/connect">
                    <div class="input-append">
                        <input type="text" name="url" />
                        <input type="submit" class="btn btn-primary" value="Connect" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
