<html>
    <body>
        <div class="row">
            <div class="span8">
                <h2>Home</h2>
                <p>Welcome to Lewis, a simple web-based interface to explore and
                interact with Datomic.</p>
                <p>Use the menus above to access and update data/schema.</p>
            </div>
            <div class="span4">
                <h2>Recent Queries</h2>
                <ul class="recent-queries">
                    <li>
                        <a href="#">[:find ?x [:where [?x :some/name]]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>

